body {
    font-family: "optima", "Belleza", sans-serif;
    font-size: 62.5%;
}

html {
    line-height: 1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    cursor: pointer;
}

#container {
    display: block;
}

#left-side {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 210px;
}

#left-side-logo {
    left: 50%;
    top: 50%;
    position: absolute;
    width: 84px;
    transform: translate(-42px, -80px);
    font-size: 5rem;
}

#logo {
    width: 100%;
}

#main {
    padding-left: 210px;
}

#banner-item {
}

#banner-img {
}


.large-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.absolute-center {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    /* 子元素居中 */
    display: flex;
    justify-content: center;
    align-items: center;
}

.large-img-box {
    height: 100%;
    position: relative;
    padding-top: 50%;
    /* 去掉图片之间间隙 */
    font-size: 0;
    overflow: hidden;
}

.opacity-transition {
    transition: opacity 3s;
}

.anim-ul-box {
    position: relative;
    overflow: hidden;
}

.anim-ul-box:hover .large-img-overlay {
    bottom: 0;
}

.opacity-li {
    opacity: 0;
}

.anim-img-ul .add-active {
    opacity: 1;
}

.large-img-box:hover .large-img-overlay {
    bottom: 0;
}

.large-img-overlay {
    width: 100%;
    height: 130px;
    background-color: rgba(255, 255, 255, .5);
    position: absolute;
    transition: bottom .5s;
    bottom: -130px;

    color: black;
    font-size: 3rem;
    text-align: center;
    padding-top: 35px;
    line-height: 3rem;
    opacity: 1;
    overflow: hidden;
}

.two-img-box {
    padding-top: 50%;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.two-img-box > div {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    display: flex;
}

.two-img-side {
    flex: 1;
    height: 100%;
}

.up-down-img {
    width: 100%;
    height: 100%;
}

.anim-ul-box2 {
    position: relative;
    background-color: red;
    width: 100%;
}
.up-down {
    height: 50%;
}
.large-img-overlay2 {
    position: absolute;
    left: 15px;
    right: 15px;
    top: 15px;
    bottom: 15px;
    background-color: rgba(0, 0, 0, .15);
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    opacity: 0;
    transition: opacity 1s;
}
.anim-ul-box2:hover .large-img-overlay2 {
    opacity: 1;
}
.large-img-overlay2 span {
    font-size: 1rem;
}
.large-img-overlay2 strong {
    font-size: 2rem;
}
.anim-ul-box2:hover .large-img-overlay2 {

}